*{
    margin: 0;
    padding: 0;
    font-family:cursive;
    box-sizing: border-box;
    
}

body{
    background-image: url('https://www.bing.com/th/id/OIP.UG-jw8x7_0y9a4mIes-LIQHaEo?w=318&h=211&c=8&rs=1&qlt=90&o=6&cb=ucfimg1&pid=3.1&rm=2&ucfimg=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 500px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    text-align: auto;
    color:#764ba2;
    display: flex;
    align-items: center;
    margin-left: 20px;
    justify-content: center;
}

.todo-app h2 img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    border-radius: 25px;
    align-items: center;
    margin-bottom: 25px;
   
}

.input-box{
    flex: 1;
    border: 2px;
    outline: none; 
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    color: #000000e9;
}
.button{
    border: none;
    outline: none;
    background:#ff5945;
    padding: 16px 50px;
    color: #fff;
    font-size: 16px;
    cursor:pointer;
    border-radius: 40px;

}

#list-container{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;

}

ul li::before{
    content: "\2022";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png) ;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
    ul li.checked{
    text-decoration: line-through;
    color: #888;
}
ul li.checked::before{
    background-image: url(./images/checked.png);
}

ul li  span{position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height:40px;
    font-size:22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #ff5945;
    color:#fff;
    border-radius: 50%;
    cursor: pointer;
}